<div #imageContainer class="image-container"
  [ngClass]="{
    'draggable-cursor': isDraggable,
    'crosshair-cursor': !isDraggable }">

  <img #imageTag id="image-tag"
    [src]="imageUrl"
    (load)="onImageLoaded()"
    (click)="onImageClicked($event)"
    oncontextmenu="return false;"/>

  <ng-container *ngFor="let marker of image?.markers">
    <div class="circle-marker" [ngStyle]="{
        'width.px': marker.diameter,
        'height.px': marker.diameter,
        'left.px': marker.position.x,
        'top.px': marker.position.y
      }"
      [ngClass]="{'highlighted' : marker.highlighted}">
    </div>
  </ng-container>

</div>

<app-markers-data
  *ngIf="imageHasLoaded && image.markers"
  [markers]="image.markers"
  (itemMouseEnter)="highlightMarker($event)"
  (itemMouseLeave)="removeMarkerHighlight($event)"
  (deleteMarker)="image.deleteMarker($event)">
</app-markers-data>