<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ imageName }}</ion-title>
      <ion-buttons slot="end">
        Zoom:&nbsp;
        <ion-button (click)="buttonEvent.next('zoomOut')"><ion-icon name="remove" slot="icon-only"></ion-icon></ion-button>
        <ion-button (click)="buttonEvent.next('zoomIn')"><ion-icon name="add" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ imageName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-image-canvas
    [imageUrl]="'assets/' + imageName"
    [buttonEvents]="buttonEvent.asObservable()">
  </app-image-canvas>

</ion-content>
