#data {
  width: 500px;
  text-align: left;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

ion-list {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 300px;

  p {
      text-align: center;
  }
}

ion-list,
ion-item {
  --background: none;
  --inner-border-width: 0 0 0 0;
  background-color: transparent;
}

ion-item {
    border: 1px transparent solid;
}

ion-item:hover {
    border: 1px whitesmoke dashed !important;
}
